@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 20px;
	text-align: center;
}

.example-app {
	.load-posts {
		margin-top: 15px;
		font-size: 13px;
    padding: 6px;
    background-color: #1d77c0;
    outline: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
	}

	.credit {
		font-size: 12px;
		margin-top: 8px;
	}

	.posts {
		list-style: none;
		text-align: left;
		margin-top: 40px;

		.post {
			margin: 20px 0;

			h1 {
				font-size: 14px;
				margin-bottom: 0;
				line-height: 1.2;
			}

			p {
				margin-top: 0;
				font-size: 12px;
			}
		}
	}
}