@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 20px;
	text-align: center;
}

.webpack-logo {
	animation: slide-in 1s backwards;
}

@keyframes slide-in {
	from {
		opacity: 0;
		transform: translateY(-30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}